@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.btn:focus {

  outline: 0;

}


.scene {
  background-color: '#220022';
}

.flexcontainer {

  @apply flex;
  @apply items-center;
  @apply justify-center;

}

.resizable {

  resize: horizontal;
  @apply overflow-auto;

}

/* Hide scrollbar for IE, Edge and Firefox */
.hidescrollbar {

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidescrollbar::-webkit-scrollbar {

  display: none;

}

/* customize scrollbar */
::-webkit-scrollbar {

  width: 10px;
  height: 10px;

}

::-webkit-scrollbar-track {

  background: gainsboro;

}

::-webkit-scrollbar-thumb {

  background: rgba(57, 36, 36, 0.925);
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {

  background: #51ab33;
}

button {
  @apply px-5;
  @apply py-1;
  @apply m-3;
  @apply transition-all;
  @apply text-gray-100;
  @apply duration-500;
  @apply rounded-md;
  @apply bg-PrimaryGreen;
}

button:hover {
  @apply bg-white;
  @apply shadow;
  @apply border-PrimaryGreen;
  @apply text-PrimaryGreen;
}

button:focus {
  @apply text-gray-700;
  outline: none !important;
  @apply outline-none;
}