
.page-enter-active,
.page-leave-active {
  transition: all 0.25s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transform: scale(0.99);
}
h1,h2,h3 {
  font-family: 'Space Grotesk';
  font-weight: bold;
}
* {
 font-family: 'Space Grotesk';
  
}